<div class="page-header">
	<h2>
		2. 加入事件处理函数的子视图
	</h2>
</div>
<div class="col-md-12">

	<form>
	    <div class="form-group">
	        <label id="username">Username</label>
	        <input type="text" class="form-control js-username">
	    </div>
	    <div class="form-group">
	        <button type="button" class="btn btn-primary">Click</button>
	    </div>
	</form>
</div>


