<div class="page-header">
	<h2>
		
		{{title}}
	</h2>
</div>
<div class="col-md-12">
	
	<div class="page-header">
		<h3>下拉列表和日期控件</h3>
	</div>
	<form>
        <div class="form-group">
            <label id="username">Username</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Gender</label>
            <input type="text" class="form-control js-gender">
        </div>
        <div class="form-group">
            <label>Birthday</label>
            <div class="input-group">
                <input type="text" class="form-control js-birthday">
            </div>
        </div>
    </form>
    
    <div class="page-header">
		<h3>页签</h3>
	</div>
	<div id="accordion">
	  <div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a>
					Section 1
					<span class="glyphicon glyphicon-user pull-right"></span>
				</a>
			</h3>
		</div>
		<div class="panel-body">
			<p>
				Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
			</p>
		</div>
	  </div>
	  <div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a>
					Section 2
					<span class="badge pull-right clearfix">14</span>
				</a>
			</h3>
		</div>
		<div class="panel-body">
			<p>
				Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.
			</p>
		</div>
	 </div>
	</div>
</div>