<div class="container">
	<div class="row">
		<div class="page-header">
			<h1>模块化开发</h1>
		</div>
		<div id="test1" class="col-md-12 panel panel-default">
			
		</div>
		
		<div id="test" class="col-md-12 panel panel-default">
			
		</div>
		
		<div id="test2" class="col-md-12 panel panel-default">
			
		</div>
		
		<div id="test3" class="col-md-12 panel panel-default">
			
		</div>
		
		<div id="test5" class="col-md-12 panel panel-default">
			
		</div>
		
		<div id="testAjax" class="col-md-12 panel panel-default">
			
		</div>
	
	
	</div>
</div>