 <div id="timeline-html" class="row">
    <div class="form-group">
        <div class="input-group col-md-12">
            <div id="timeline" data-ui-role="timeline"><ul class="timeline"><li><div class="tldate">Apr 2015</div></li><li class="timeline"><div class="tl-time">8/4/2015</div><div class="tl-circ" data-date="Apr 2015"></div><div class="timeline-panel"><div class="tl-heading"><h4>Surprising Headline Right Here</h4></div><div class="tl-body"><p>Lorem Ipsum and such.---1</p></div></div></li><li class="timeline"><div class="tl-time">10/4/2015</div><div class="tl-circ" data-date="Apr 2015"></div><div class="timeline-panel"><div class="tl-heading"><h4>Breaking into Spring!</h4></div><div class="tl-body"><p>Hope the weather gets a bit nicer</p></div></div></li><li><div class="tldate">Mar 2015</div></li><li class="timeline"><div class="tl-time">2/5/2015</div><div class="tl-circ" data-date="Mar 2015"></div><div class="timeline-panel"><div class="tl-heading"><h4>New Apple Device Release Date</h4></div><div class="tl-body"><p>In memory of Steve Jobs.</p></div></div></li><li class="timeline"><div class="tl-time">19/5/2015</div><div class="tl-circ" data-date="Mar 2015"></div><div class="timeline-panel"><div class="tl-heading"><h4>Some Important Date!</h4></div><div class="tl-body"><p>Write up a quick summary of the event.</p></div></div></li></ul></div>
        </div>
        <button class="btn btn-default" type="button" id="destroy">销毁</button>
        <button class="btn btn-default" type="button" id="build">创建</button>
    </div>
</div>