 <!--插入式菜单-->
 <ul id="menu-list">
 	
 </ul>
 
 <!--第三方组件pagesidebar菜单-->
 <div id="slider1" class="container-fluid pagesidebar-event">
    <div id="sidebarTest"></div>
    
    <!--<div class="page-container-wrapper">
      <div class="page-container">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="panel-title">PageSidebar</span>
          </div>
          <div class="panel-body">
              <p>
                <textarea name="" rows="20" cols="50" id="consolelog"></textarea>
              </p>
          </div>
        </div>
      </div>
    </div>-->
  </div>